
.profile-circle {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 5px;
  font-size: 40px;
}


.center-parent-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kidButton {
  text-align: center;
  margin-top: 20px; 
}
