.signout-circle {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    background-color: rgb(255, 0, 0); 
    animation: signoutBounce 2s ease-in-out;
    border: none; 
    outline: none; 
    cursor: pointer; 
    padding: 0; 
    margin-left: 10px;
    margin-top: 10px;
  }
  
  @keyframes signoutBounce {
    0%, 250% {
      transform: translateY(-100%);
    }
    150% {
      transform: translateY(0%);
    }
  }
  
.signout-circle button {
  background: none; 
  border: none; 
  color: inherit; 
  font-size: inherit; 
  cursor: inherit; 
  padding: 0; 
  outline: none; 
  
}
  

