.parent-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2a9d49;
  }
  
  .profile-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  h2 {
    font-size: 24px;     
    color: #333;        
    margin-top: 20px;    
    margin-bottom: 10px; 
  }
  

  .custom-textarea {
    width: 62%; 
    height: 150px; 
  }

 .kidChoreCreate {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 50vh; 
}

.addAKid {
  text-align: center; 
  margin: 0; 
}

.createKidButtonContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  margin-top: 0px; 
}